<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Petr Trader</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <script src="./static/scripts.js"></script>
  </head>

  <body>
    <nav class="navbar">
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
    </nav>

    <img
      id="petr"
      src="https://upload.wikimedia.org/wikipedia/commons/c/c5/Trombone_petr.png"
      alt="Trombone Petr"
      class="header-image"
    />

    <div id="centered-elems">
      <h1 class="title">Petr Gallery</h1>
      <p class="subtitle">Show off your petrs here!</p>
      <button id="save" onclick="saveCollection()">Save Collection</button>
    </div>

    <input
      type="file"
      id="fileInput"
      accept="image/*"
      multiple
      onchange="displayImage(event)"
    />

    <div id="imageContainer"></div>

    <!-- Div for image preview -->
    <div id="modal">
      <button id="modalClose" onclick="closeModal()">X</button>
      <img id="modalImage" src="" alt="Enlarged Image" />
    </div>
  </body>
</html>
